body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}

.heading {
    color: dodgerblue;
    text-align: center;
}

h2 > u {
    color: dodgerblue;
}

.paragraph {
    font-size: 125%;
}

#myPicture {
    border: 0.2rem solid dodgerblue;
}