html {
    font-family: Open Sans,sans-serif;
    overflow-y: scroll;
    height: 100%;
    font-size: 12px;
    line-height: 1.66667;
}

body {
    padding-top: 46px;
    min-width: 320px;
    margin: 0;
}

body, html {
    min-height: 100%;
    background-color: #000;
    color: #929a9e;
}

.navbar .small-logo-img {
    height: 46px;
    width: 46px;
    aspect-ratio: 1/1;
}

.navbar .navnews {
    border-left: 1px solid #495867;
}

.navbar .nav, .navbar .navbell, .navbar .navborder, .navbar .navburger, .navbar .navdown, .navbar .navenv, .navbar .navevents, .navbar .navfantasy, .navbar .navforums, .navbar .navgalleries, .navbar .navlive, .navbar .navmatches, .navbar .navnews, .navbar .navranking, .navbar .navresults, .navbar .navsignin, .navbar .navstats {
    flex: 1 0 auto;
}

.navbar .nav, .navbar .navburger, .navbar .navevents, .navbar .navfantasy, .navbar .navforums, .navbar .navgalleries, .navbar .navlive, .navbar .navmatches, .navbar .navnews, .navbar .navranking, .navbar .navresults, .navbar .navstats {
    height: 46px;
    line-height: 46px;
    vertical-align: middle;
    color: #929a9e;
    font-weight: 400;
    padding: 0 11px;
    border-right: 1px solid rgba(73,88,103,.65);
    text-align: center;
    transition: .2s ease;
}

.navbar .navcon {
    max-width: 975px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.navbar {
    font-size: 14px;
    position: fixed;
}

.navbar {
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 50000;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
    width: 100%;
    background-color: #2d3844;
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.navsearch #search {
    background-color: #2d3844;
    color: #929a9e;
    border: 1px solid rgba(73,88,103,.65);
}