body {
    font-family: Riformall,Arial,sans-serif;
    background-color: darkblue;
}

#top-menu > li {
    display: inline;
    padding: 1rem;
}

#top-menu > li > a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    
}

#top-menu > li > a:hover {
    color: skyblue;
}

.nav-menu {
    background-image: linear-gradient(to right, red , black);
    height: 4rem;
    border: solid 1px black;
}

#home-div > img {
    width: 88rem;
    padding-top: 1rem;
}

.nav-menu > ul > img {
    width: 4rem;
    float: right;
}

#home-div {
    background: url('home-bg.jpg') no-repeat;
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    padding: 8rem;
    margin-top: 0.5rem;
    border: solid 1px black;
    color: white;
}

#team-info {
    background: url('team-bg.jpg') no-repeat;
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    padding: 2rem;
    margin-top: 0.5rem;
    border: solid 1px black;
    color: white;
}

#shop-merch {
    background: url('team_magnus_setup-astralis-min.webp') no-repeat;
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 2rem;
    margin-top: 0.5rem;
    border: solid 1px black;
    color: white;
}

#shop-merch > p {
    font-size: 7rem;
}

#shop-merch > p > a {
    /* text-decoration: none; */
    color: darkred;
}

#shop-merch > p > a:hover {
    color: red;
}

#sponsors {
    background-color: #cccccc;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 2rem;
    margin-top: 0.5rem;
    border: solid 1px black;
    color: white;
    background-image: linear-gradient(to right, red , black);
}

#logitech-logo, #omen-logo, #secretlab-logo {
    width: 7rem;
    padding: 1rem;
}

#sponsors > h1 > span {
    border: solid 4px white;
}

