<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/resources/jquery-3.6.3.min.js"></script>
    <script src="/resources/popper.min.js"></script>
    <script src="/resources/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
    <link rel="stylesheet" href="/resources/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>jQ API GET Call</title>
</head>
<body class="container">
    <h1>TODOs API Client</h1>
    <div id="todo">
        <!-- List of TODOs fetched from the FAKE API will load here. -->
    </div>
</body>
</html>
